@using SnowaTec.Test.Domain.DTO.Possibility
@using SnowaTec.Test.Domain.Enum

@model FieldDto

<div class="modal-dialog">
    <form id="edit-form-modal" class="modal-content pt-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
        <div class="modal-header mb-1">
            <h5 class="modal-title" id="exampleModalLabel">فیلد <em id="form-header-text"></em></h5>
        </div>
        <div class="modal-body flex-grow-1">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            <div class="mb-1">
                @Html.LabelFor(x => x.Title,new { @class = "form-label"})
                @Html.TextBoxFor(x => x.Title,new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.Title)
            </div>
            <div class="mb-1">
                @Html.LabelFor(x => x.Key,new { @class = "form-label"})
                @Html.TextBoxFor(x => x.Key,new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.Key)
            </div>
            <div class="mb-1">
                @Html.LabelFor(x => x.Tooltip,new { @class = "form-label"})
                @Html.TextBoxFor(x => x.Tooltip,new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.Tooltip)
            </div>
            <div class="mb-1">
                @Html.LabelFor(x => x.Type,new { @class = "form-label"})
                @Html.DropDownListFor(x => x.Type, FieldTypeFunction.ToSelectedListForSearch(false), new { @class = "select2 form-select select-input"})
                @Html.ValidationMessageFor(x => x.Type)
            </div>
            <div class="mb-1">
                @Html.LabelFor(x => x.DefaultValue,new { @class = "form-label"})
                @Html.TextBoxFor(x => x.DefaultValue,new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.DefaultValue)
            </div>
            <div class="mb-1">
                @Html.LabelFor(x => x.Setting, new { @class = "form-label"})
                @Html.TextBoxFor(x => x.Setting, new { @class = "form-control"})
                <p>برای کنترل لیست کشویی آیتم های آن را با خط تیره (-) از یکدیگر جدا کرده و ثبت کنید.</p>
            </div>
            <br />
            <button type="button" data-type="modal" class="save-btn btn btn-primary me-1 data-submit waves-effect waves-float waves-light">ثبت</button>
            <button type="button" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="modal">انصراف</button>
        </div>
    </form>
</div>